* {
  padding: 0;
  border : 0;
  margin : 0;
}

body,
html {
  width : 100%;
  height: 100%;
  overflow: hidden;
}
body{
  background:#eee;
  position: relative;
}
body::before{
  content:"";
  position:absolute;
  left:0px;
  top:0;
  right:0;
  bottom:0;
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
  background:#000;
}

body::after{
  content:"";
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  -webkit-clip-path: polygon(100% 0,100% 0,100% 100%);
  background: #fff;
}

.up{
  font-size: 46px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%,-50%);
  color: #fff;
}

.down{
  font-size: 46px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,0);
  color: #000;
}